{% extends "base.html.twig" %}
{#{% block head %}#}
{#<link rel="stylesheet" href="public/build/test.css">#}
{#<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">#}
{#<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>#}
{#<link href='https://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>#}
{#{% endblock %}#}
{#{% block head %}#}
{#    <head>#}
{#        <meta charset="utf-8">#}
{#        <meta http-equiv="X-UA-Compatible" content="IE=edge">#}
{#        <meta name="viewport" content="width=device-width, initial-scale=1">#}

{#        <link rel="stylesheet" href="{{ asset('build/test.css') }}">#}
{#        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>#}
{#        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">#}
{#        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">#}
{#        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>#}
{#        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>#}
{#        <title>test</title>#}
{#    </head>#}
{#{% endblock %}#}
{% block body %}

{%  endblock %}