{% extends "base.html.twig" %}
{% block title %}Aquarelles{% endblock %}
{% block body %}

    <div class="container text-center mt-5">
        <h1>Aquarelles</h1>
        <p>Quelques aquarelles...</p>
    </div>


{%  endblock %}