{% extends "base.html.twig" %}
{% block title %}Aquarelles{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('build/aquarelles_show.css') }}">
    <div class="container text-center ">
        <div class="row-12 mb-5">
            <h1>{{ aquarelle.nom }}</h1>
        </div>
        <div class="row-12">
            <div class=col-12">
                <img class="img-fluid aquarelle w-100" src="{{ vich_uploader_asset(aquarelle, 'imageFile') }}">
                <p>{{ aquarelle.vendue }}</p>
            </div>
        </div>

    </div>

{%  endblock %}