{% extends "base.html.twig" %}

{% block title %}Site en maintenance{% endblock %}
{% block body %}
    <div class="container text-center mt-5">
        <h1>-Site en maintenance-</h1>
    </div>
    <div class="container mt-5">
        <div class="row-md-6">
            <img src="https://blog.jeedom.com/wp-content/uploads/2015/12/les-travaux-manager-demain-f_0_0_0_0-1024x670.jpg"/>
        </div>
    </div>
{%  endblock %}