{#{% extends "base.html.twig" %}#}
<h1>Nouveau contact</h1>

<p><strong>De:</strong> {{ mail }}</p>

<p><strong>Nom:</strong> {{ nom }}</p>

<p><strong>Message:</strong> {{ message|raw }}</p>

<p><strong>Telephone:</strong> {{ telephone }}</p>