/*--------------------------------------------------------------
- NAVIGATION test
--------------------------------------------------------------*/
.navtest {
    background-color: #e8eaee;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(233,235,239,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(233,235,239,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(233,235,239,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(233,235,239,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(233,235,239,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(233,235,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9ebef',GradientType=0 );
    border: 1px solid #e6e6e6;
    border-bottom-color: #8e8e8e;
    display: inline-block;
    margin-top: 15px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 0 0 5px #393939, 0 -1px 0 5px rgba(0,0,0,.85), 0 1px 0 5px rgba(255,255,255,.3)
}
.navtest li {
    float: left;
}
.navtest a {
    color: #434343;
    display: block;
    font-weight: 700;
    padding: 10px 17px;
    position: relative;
    text-align: center;
    text-decoration: none;
}
.navtest li:first-child a {
    border-radius: 20px 0 0 20px
}
.navtest li:last-child a {
    border-radius: 0 20px 20px 0
}
.navtest a:hover {
    background: #eee;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(244,245,247,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(244,245,247,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(244,245,247,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(244,245,247,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(244,245,247,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(244,245,247,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f5f7',GradientType=0 );
}
.navtest a:active {
    background:rgba(0,0,0,.01);
}
.navtest a:before {
    border-left: 1px dotted #989ca8;
    content: "";
    height: 17px;
    left: 0;
    position: absolute;
    top: 11px;
    width: 1px;
}
.navtest li:first-child a:before {
    display: none
}
.new:after {
    background: rgb(210,103,103);
    background: -moz-linear-gradient(top, rgba(210,103,103,1) 0%, rgba(246,151,151,1) 78%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(210,103,103,1)), color-stop(78%,rgba(246,151,151,1)));
    background: -webkit-linear-gradient(top, rgba(210,103,103,1) 0%,rgba(246,151,151,1) 78%);
    background: -o-linear-gradient(top, rgba(210,103,103,1) 0%,rgba(246,151,151,1) 78%);
    background: -ms-linear-gradient(top, rgba(210,103,103,1) 0%,rgba(246,151,151,1) 78%);
    background: linear-gradient(to bottom, rgba(210,103,103,1) 0%,rgba(246,151,151,1) 78%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d26767', endColorstr='#f69797',GradientType=0 );
    border: 1px solid #8e4f4f;
    content: attr(attr-new);
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    padding: 6px 9px;
    position: absolute;
    right: 0;
    top: -15px;
    z-index: 99;
    border-radius: 25px;
    box-shadow: 0 0 3px #000
}
/*-------------------------------------------*/
.content-panel{
    position: absolute;
    top: 150px;
    width: fit-content;
    left: 15%;

}

#header-logo img {
    height: 100px;
}

#main{

}

.main-sidebar{
    position: fixed;
    left: 10px;
    top: 150px;

}

.main-header{
    background: lightslategrey;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    font-family: "Indie Flower", serif;
    color: #0a0a0a;
}