{% extends "base.html.twig" %}
{% block title %}Photos{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('build/photos.css') }}">
    <div class="container text-center">
        <div class="title-photoShow row-12 m-5">
            <h1>- {{ photo.nom }} -</h1>
        </div>
        <div class="row-12">
            <div class="photo col-12">
                <img class="img-fluid photo w-100" src="{{ vich_uploader_asset(photo, 'imageFile') }}">
                <p></p>
            </div>
        </div>
    </div>


{%  endblock %}